extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class = "img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a arcu eget dolor ultrices convallis. Proin ipsum ex, tristique in venenatis eget, tempus ac tellus. Pellentesque blandit tempus blandit. Duis sit amet facilisis nunc. Suspendisse id magna vel purus facilisis vulputate et a libero. Nunc laoreet fringilla turpis, vitae malesuada odio viverra ac. Phasellus id ex viverra, consequat dui at, tempus felis. Curabitur posuere finibus augue sed tempor. Sed sagittis sed ipsum quis vestibulum.

                p Pellentesque dapibus mauris quis mattis placerat. Praesent fermentum enim orci, ac maximus diam malesuada id. Integer vitae sem quis tortor suscipit imperdiet.

                p Nullam ultricies convallis facilisis. Donec rhoncus enim eu dignissim ultricies. In hac habitasse platea dictumst. Pellentesque ultrices ligula et lorem porttitor malesuada. Nullam sit amet lorem in velit laoreet maximus vel ac nisi.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p.text-justify In hac habitasse platea dictumst. Aliquam erat volutpat. Suspendisse at tellus finibus, mollis mauris vel, egestas.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p.text-justify Pellentesque dapibus mauris quis mattis placerat. Praesent fermentum enim orci, ac maximus diam malesuada id. Integer vitae sem quis tortor suscipit imperdiet.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p.text-justify  Sed pharetra, urna ut eleifend blandit, leo nulla ornare libero, sit amet vulputate diam velit ac magna. Curabitur varius sit amet metus feugiat aliquam.